@use 'sass:color';
@use '../utils/mixins' as *;
@use '../utils/variables' as *;
@use '../components/sliderthumb.scss';



body:has(.home-main) {
    overflow-x: hidden;
}

// Hero section
.home-main {
    @include flex-center(column);
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    gap: 1rem;
}

.section__hero {
    @include flex-center(column);
    height: 100vh;
    width: 100%;
    anchor-name: --hero;
    background: $color-dark;
    position: relative;
    
    &__text,
    &__text-outline {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 20vw;
        font-weight: 600;
        min-height: 50%;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        color: $color-primary;

        display: block;
        position: absolute;
        top: 50%;
        transform: 
            // scaleY(1.5)
            translateY(-50%);
        transform-origin: top;
    
    }
    
    &__image {
        height: 80%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        & img {
            height: 100%;
        }
    }
    
    
    &__text-outline {
        color: transparent;
        -webkit-text-stroke: 0.1vh $color-primary;
    }
}

// how to play 
.section__typography {
    height: 100vh;
    overflow: hidden;
    &__wrapper {
        position: sticky;
        @include flex-center(row);
        width: 50vw;
        gap: 1rem;
        min-height: 100vh;
    }
    
    &__nav-wrapper {
        @include flex-center(column);
        gap: 4vh;

        & .current-tab {
            scale: 1.2;

        }
    }
        
    &__method {
        @include flex-center(column);
        aspect-ratio: 1 / 1;
        border-radius: 10vw;
        font-size: $font-size-base;
        text-transform: uppercase;
        font-weight: 700;
        height: 5vw;
        justify-self: center;
        border: 2px solid black;
        border-radius: 100vh;
        text-align: center;

        &:hover {
            scale: 1.2;
        }
    }


    &__information {
        grid-area: information;
        height: 50vh;
        width: 80%;
        position: relative;
        margin-inline-start: 10vh;
        
        & article {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: color.adjust($color-primary, $lightness: 30%);
            animation: next-page ease-out forwards;
            animation-range: cover 40% cover 80%;
            animation-timeline: view();

        }
        
        & article:first-child {
            transform: rotate(-2deg);
        }

        & article:nth-child(even) {
            transform: rotate(2deg);
        }

        & article:last-child {
            transform: rotate(4deg);
        }

        @keyframes next-page {
            0%, 100% {
                transform: translateY(0);
            }
            40%, 80% {
                transform: rotate(90deg);
                // transform: translateY(-100vw);

            }
        } 
    }

}

// game mode selector 
.section__game {
    width: 50%;
    justify-items: center;    
    
    &__mode-wrapper {
        --mode-radius: 1vh;
        padding: var(--mode-radius);
        @include flex-center(column);
        width: 40vw;
        min-height: 50vh;
        background: color.adjust($color-secondary, $lightness: 30%);
        border-radius: calc(var(--mode-radius) * 2);
    }
    
    &__mode-display {
        height: 15vh;
        background: $color-dark;
        width: 100%;
        border-radius: var(--mode-radius);
        margin-block: 2vw 1.5vw;
        color: $color-primary;
        padding: 2vh;

        & p {
            font-size: 5vh;
            text-align: left;
        }
    }
    
    &__buttons {
        --home-mode-length: 10vw;
        @include flex-center(row);
        gap: 1rem;
        padding: 2vw;
        padding-block-start: 4vw;
        width: 100%;
        $stripe: color.adjust($color-secondary, $lightness: -35%,  $saturation: -20%, $alpha: -0.5);
        background-image: 
            linear-gradient(to bottom, $stripe 2vh, transparent 10px);
        ;
        $bgrdsze : 5vh;
        background-size: $bgrdsze $bgrdsze;
        
        & .mode-button {
            height: var(--home-mode-length);
            width: var(--home-mode-length);
            border-radius: var(--home-mode-length);
            background: color.adjust($color-primary, $lightness: 25%);
            box-shadow:  5px 5px 20px 5px $color-shadow-dark,
            5px 5px 5px color.adjust($color-primary, $lightness: 40%) inset;
            
            &:active {
                transform: translate(5px, 5px);
            }
        }
            
    }
}    


// score board
.section__scoreboard {
    justify-items: center;
    text-align: center;
    width: 50%;

    &__heading {
        border-bottom: 1px solid $color-primary;
        margin-bottom: 1rem;
        width: 50%;
    }

    table {
        font-size: $font-size-small;
        width: 50%;
        
        & td, 
        & th {
            padding: 0.5rem 1rem;
        }
        
        & thead th{
            border-bottom: 2px solid $color-secondary;
        }
    
    }
}
