@use '../utils/mixins' as *;
@use '../utils/variables' as *;
@use 'sass:color';

$bg-dark-900 : color.adjust($color-accent, $lightness: -55%);
$bg-dark-600 : color.adjust($color-accent, $lightness: -50%);
$bg-dark-300 : color.adjust($color-accent, $lightness: -40%, $alpha : -0.2);

.form-main {
    @include flex-center(row);
    width: 100vw;
    height: 100vh;
    background: $color-light;
}

body:has(.form-main) nav{
    display: none;
}

#registerCheckboxWrapper {
    @include flex-center(row);
    color: $color-shadow-dark;
    font-size: $font-size-small;
    flex-direction: row-reverse;
    margin-block-start: 2rem;
    margin-block-end: 1rem;
    justify-content: left;
    width: 100%;

    & input {
        margin-right: 10px;
    }
}

// * {
//     outline: auto;
// }

.auth-form {
    @include flex-center(column);
    border-radius: 2vh;
    padding: 2rem;
    background: $bg-dark-900;
    height: 70vh;
    width: 25vw;
    justify-content: start;
    
    & h2 {
        color: $color-accent;
        font-size: $font-size-xlarge;;
        // margin-block: 1rem;
        width: 100%;
    }

    & > p {
        color: color.adjust($color-light, $alpha: -0.3);
        width: 100%;
        
        & span,
        & a {
            text-decoration: none;
            color: color.adjust($color-accent, $alpha: -0.1);
        }
    }

    &__nav-wrapper {
        @include flex-center(row);
        width: 60%;
        height: 5vh;
        background: $bg-dark-600;
        border-radius: 100vh;
        color: color.adjust($color-primary-lighter, $alpha : -0.4);
        margin-block: 2vh;

        & span {
            width: 50%;
            height: 100%;
            text-align: center;
            align-content: center;
            font-size: 2.5vh;
            font-weight: 100;
        }
    }

    &__nav-wrapper > .form-span-active {
        background: $bg-dark-300;
        color: $color-light;
        border-radius: 100vh;
    }

}

input[type=submit] {
    background: $color-primary;
    border: none;
    border-radius:  10vw;
    bottom: -2rem;
    font-family: $font-main;
    color: $bg-dark-900;
    cursor: pointer;
    font-size: $font-size-base;   
    padding: 1.5vh;
    margin-top: auto;
    align-self: flex-end;
    width: 10vw;
}


input[type=text],
input[type=password],
input[type=email] {
    border: none;
    background: $bg-dark-300;
    font-size: $font-size-base;
    margin-block: 0.5rem;
    padding: 1vh 2vh;
    border-radius: 2vh;
    width: 100%;
    color: $color-light;
    font-family: $font-main;
}

input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder {
    opacity: 0.6;
    color: $color-light;
    font-weight: 100;
    font-size: $font-size-small;
    font-family: $font-main;
    letter-spacing: 1.5px;
}