@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use 'sass:color';

.ball-count {
    width: 50%;
    padding: 10vh;
    margin-block: 2vh;
    min-height: 100vh;
    
    &__header {
        width: 100%;
        font-size: $font-size-xlarge;
        font-weight: 200;
        width: 60%;
    }
    
    &__static-text {
        font-size: $font-size-xxlarge;
        font-weight: 400;
        color: $color-accent;

    }

    &__counter-wrapper {
        @include flex-center(row);
        justify-content: space-between;

        & > * {
            width: 40%;
        }
    }
    
    &__counter {
        @include flex-center(row);
        font-size: 30vh;
    }
    
    &__scroll-area {
        $bg-color: color.adjust($color-primary, $lightness: 40%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
        gap: 0;
        position: relative;
        height: 280px;

        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        -ms-overflow-style: none; 
        scrollbar-width: none;
        scroll-snap-type:y mandatory;

        &::-webkit-scrollbar { 
            display: none; 
        }

        &__padding {
            height: 120px;
            flex-shrink: 0;
        }

        &__num-item {
            @include flex-center(row);
            height: 40px;
            scroll-snap-align: center;
            font-size: 2.5vh;
            color: #64748b;
            font-weight: 500;
        }

        &__num-active {
            color: $color-dark;
            font-weight: 700;
            font-size: 3vh;
        }
    }
}